@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESTORE SOME STYLING */
ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1rem;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 1rem;
}

ul ul,
ol ul {
    list-style-type: circle;
    list-style-position: outside;
    padding-left: 1rem;
}

ol ol,
ul ol {
    list-style-type: lower-latin;
    list-style-position: outside;
    padding-left: 1rem;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

/* CUSTOM STYLES */
/* CSS for MOBILE FIRST: */
/* HTML construct tags */


html {
    font-size: 100%;
    background-image: url(../img/green.png)
}

body {
    font: 100%/1.4;
    font-family: 'Roboto Flex', sans-serif;
}

.masthead {
    background: #fdf4d5;
    /* fill in a height */
}

footer {
    background: #fdf4d5;
    /* fill in a height */
    padding: 1rem;
}

footer p {
    color: #fff;
    font-size: .75rem;
    padding: .5rem;
}

main {
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;

}

img {
    width: 100%;
    height: auto;
    /* keep them in proportion */
    display: block;
}

aside {
    background: #e2663d90;

    color: black;
    font-size: 1rem;
}

aside p {
    padding-left: .5rem;
}
aside h2{
  background-color:#e2663d90;
}

#cart-total {
    padding-left: .5rem;
}

h3 {
    padding-top: .5rem;
}

h4 {
    padding-left: .5rem;
}

.masthead__nav-link2 {
    font-size: 1rem;
    color: Black;
}



.masthead__nav-list {
    /* ol */
    list-style: none;
    margin: .25rem;
    display: flex;
    /* flex container around the list items */
    flex-flow: row nowrap;
}

.masthead__nav-link {
    font-size: 1.35rem;
    padding: 0 0 0 .27rem;
    color: #3a530f
}

/* STYLING INSIDE MAIN */
h2 {
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    background-color: #f9ab00;
    color: #3a530f;
    padding: .5rem;
    font-weight: bold;
    border-bottom: #e2673d 2px solid;
    border-top: #e2673d 2px solid;

}

.flavor {
  padding-top:1rem;
    font-size: 1.4rem;
    font-family: 'Comfortaa', cursive;
    background-color: #e2663d90;
    color: #893d24;
    padding-left: 1rem;
    font-weight: bold;
    border:none;

}

.masthead {
    display: flex;
    /* flex container around h1 and nav */
    flex-flow: row nowrap;
    justify-content: space-between;
}

.masthead__logo {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    margin: .5rem;
    

}

.cart p {
    padding-left: 1rem;
}

.cart h3 {
    font-weight: bold;
    /* font-size: 1.2rem; */
    color: #669219;
}

.cart__box img {
    width: 100%;
    max-width: 100%;
    display: block;
}


.content2 {
    flex: 1;
}

.content {
    display: flex;
    flex-flow: row nowrap;
}

#comp-frame {
    width: 50%;
    padding-left: 2rem;
    height: 48vh;
    position: relative;
    background-color: #fade7d;
   
    
}



#comp-frame img {
    padding-top: 4rem;
    width: 100%;
    max-height: 100vh;
    max-width: 100vh;
}

#comp-frame2 {
    width: 60%;
    height: 42vh;
    position: relative;
    background-color: #fade7d;
    display:none;
}



#comp-frame2 img {
   display:none;
}

#comp-empty-layer {
    width: 90%;
    position: absolute;
    z-index: 1;
}

#comp-flavor-layer {
    z-index: 2;
    width: 90%;
    position: absolute;
}

#comp-liquid-layer {
    z-index: 3;
    width: 90%;
    position: absolute;
}

#comp-extra-layer {
    z-index: 4;
    width: 90%;
    position: absolute;
}

#comp-powder-layer {
    z-index: 5;
    width: 90%;
    position: absolute;
}

.option_set {
    /* max-width: 100px; control height of content images */
    flex: 1;
    max-width: 100%;
    background-color: #fdf4d5;
   

}

.option_set h3{
  padding-left:1rem;
}

.option_set img {
    margin-left:1rem;
    margin-right:1rem;
    width: 100%;
    height: 65px;
}


/* .option_set img:hover {
  background-color: #fdf4d5;
padding:0;
margin:.0;
    box-shadow: 20px 5px 40px 2px #f9ab00;
} */

#cart-total {
    padding-top: .5rem;
}

#logo {
    padding-left: .5rem;
    width: 100%;
    max-width: 250px;
    grid-area: logo;
}

.option_set p {
  font-family: 'Saira Condensed', sans-serif;
    margin-left: .5rem;
    font-size: 1.3rem;
}


.cart-box{
  padding-bottom:1rem;
}
.cart-box p{
  margin-top:1rem;
 
}

.cart-box3 {
    display:none;
}

.cart-box2 {
 font-size:1rem;
 line-height:2rem;
}

.comp-frame3 {
    border: solid #000 3px;
    max-height: 100%;
    width: 100%;
}

.cartinfo {
    font-size: 70%;
	padding:.5rem;
	width: clamp(23ch, 60%, 46ch);
	
}

.main-menu {

    list-style: none;
    display: grid;
    grid-template-areas:
        " navl navl navl navl";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #3a530f;

}

.nav-button {
    grid-area: navl;
   padding:0.5em;

    display: block;
    text-align: center;
    text-decoration: none;

    font-family: 'Comfortaa', cursive;
    color: #fdf4d5;
    font-size: .9rem;
}

.nav-button a{
  font-family: 'Comfortaa', cursive;
}

.nav-button:hover {
    background-color: #669219;

}

#comp-frame2 {
    width: 100%;
    height: 30vh;
    position: relative;
    background-color: #fade7d;
    display:none;
}

#comp-frame2 img {
    padding-left: 4rem;
    width: 100%;
    display:none;


}

span {
    display: none;
}


.order_button {
	font-size: 1rem;
	text-decoration: none;
	color: #fade7d;
	background: #669219;
	padding: 12px 20px;
	border-radius: 4px;
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	float: right;
	align-content: center;


}
.masthead__nav-link2 i{
  font-size:2rem;
}

.masthead__nav-link2 {
  font-size:2rem;
}

.order_button:visited {
	color: #f75a3b;
}
.order_button:active {
	color: #fade7d;
}
.order_button:hover{
	color: #982b1f;
}
.order_button:link {
	color: white;
}

.glow-button:hover {
	color: #f9ab00;
	box-shadow: 0 5px 15px rgba(248, 244, 10, 0.4);
}
/* 
checkout styling */
.place_order{
    margin:.5rem;
    font-size:.9rem;
    padding:1rem 155px;
    background-color:#f9ab00;
    border:#669219 1px solid;
    font-size: 1rem;
      text-decoration: none;
      color: #ca4f4f;
     
      padding: 15px 40px;
      border-radius: 4px;
      font-weight: normal;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
 }

 .place_order a{ 
 color:#6c5553;
 

}
.place_order a:hover{ 
  color:#669219;
 
 }
 .place_order a:visited{ 
  color:#b75432;
 
 }
 .place_order a:active{ 
  color:#cedce7;
 
 }
 .place_order a:link{ 
  color:#982b1f;
 
 }

.heading {
 position: relative;
 margin-bottom: 2.5em;
 margin-top: 1em;
 line-height: 2em;
 text-align: center;
 }
 

 /* end of heading section */
 
.smaller{
Width:100%;
max-width:46%;
margin:auto 0;
padding-left:1rem;

}

/* Styling for MOBILE LANDSCAPE ONLY */



/* end styling for landscape */





@media screen and (min-width: 780px) {
    html {
       
        background-image: url(../img/green.png)
    }

    aside{
      box-shadow: -5px 5px 20px 2px #e2663d90;
    }
    #comp-frame {
        width: 45%;
        height: 70vh;
        position: relative;
        background-color: #fade7d;
        border-radius:5px;
        box-shadow: 5px 5px 20px 2px #fade7d;

    }

    #comp-frame2 {
        width: 200%;
        height: 70vh;
        position: relative;
        background-color: #fade7d;
        display:none;
    }

    #comp-frame2 img {
        padding-left: 6rem;
        width: 80%;
        display:none;


    }

    #comp-frame img {
        padding-top: 4rem;
        width: 100%;
        padding-left: 2rem;
        

    }


    .empty-jar {
        max-width: 100%;
        /*control height of content images */
    }

    .option_set {
        flex: 1;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 4rem;
    }

    .flex-container {
        display: flex;
    }


    .option_set img {
        flex: 1;
        max-height: 48%;
        max-width: 100%;
       

    }

    .cart {
        /* width:35%;
	height:70vh; */
        flex: 1;
        position: relative
    }

    .cart-box {
        width: 100%;
        border-radius:5px;
        
       
    }

    .cart-box p {
        padding: .5rem;
        line-height: 1rem;
        font-size: 1.4rem;
        
    }


    main {
        flex: 2;
    }

    .main-menu {

        list-style: none;
        display: grid;
        grid-template-areas:
            "navl navl navl navl navl navl";
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: #3a530f;

    }

    .nav-button {
        grid-area: navl;
        padding: .5rem;
       
        display: block;
        text-align: center;
        text-decoration: none;

        font-family: 'Comfortaa', cursive;

        color: #fdf4d5;
        font-size: .9rem;
    }

    .nav-button{
      font-family: 'Comfortaa', cursive;
    }

    .nav-button:hover {
        background-color: #669219;

    }

    h2 {
        font-size: 1.5rem;
        font-family: 'Varela Round', sans-serif;
        background-color: #f9ab00;
        color: #3a530f;
        padding: 1rem;
        font-weight: bold;
        border-bottom: #e2673d 2px solid;
        border-top: #e2673d 2px solid;
    }

    .cartinfo {
        width: 100%;
        padding: 1rem;
    }

    .cartinfo p {
        padding: 0 1rem 1rem 0;
    }

    a {
        font-size: 2rem;
        padding: 0 1rem 1rem 0;
    }

    footer {
        height: 1rem;
        padding: 3rem;

    }

    .cart3 {
        width: 60%;
    }

    .cart3 p {
        font-size:2rem;
    }
    #cart-total {
        padding: 1.5rem;
    }

    #logo {
        padding-left: .5rem;
        width: 100%;
        max-width: 250px;
        grid-area: logo;
    }

  

    .order_button {
        font-size: 1rem;
        text-decoration: none;
        color: #fade7d;
        background: #669219;
        padding: 15px 40px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        float: right;
        align-content: center;
        /* top: 50%;
        left: 92%;
        transform: translate(-2%, -230%);
        -ms-transform: translate(-20%, -90%);
        cursor: pointer; */
    }

    .order_button:visited {
      color: #f75a3b;
    }
    .order_button:active {
      color: #fade7d;
    }
    .order_button:hover{
      color: #982b1f;
    }
    .order_button:link {
      color: white;
    }

    .glow-button:hover {
		color: #f9ab00;
		box-shadow: 0 5px 15px rgba(248, 244, 10, 0.4);
    }

    .cart-box p {

        margin-left: .5rem;
    }







/* }
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { } */

     
    #comp-frame {
        width: 45%;
        height: 100%;
        position: relative;
        background-color: #fade7d;

    }

    #comp-frame2 {
        width: 40%;
        height: 92vh;
        position: relative;
        background-color: #fade7d;
        display:none;
    }

    #comp-frame2 img {
        padding-left: 6rem;
        width: 100%;
        display:none;


    }

    #comp-frame img {
        padding-top: 4rem;
        width: 74%;
        padding-left: 1rem;


    }


    .empty-jar {
        max-width: 100%;
        /*control height of content images */
    }

    .option_set {
        flex: 1;
        padding-left: 2rem;
        padding-right: 3rem;
        padding-top: .5rem;
    }

    .flex-container {
        display: flex;
    }


    .option_set img {
        flex: 1;
        max-height: 48%;
        max-width: 100%;
       
    }

    .cart {
        /* width:35%;
	height:70vh; */
        flex: 1;
        position: relative
    }

    .cart-box {
        width: 100%;
        
    }

    .cart-box p {
        padding: .5rem;
        line-height: 1rem;
        font-size: 1rem;
    }


    main {
        flex: 2;
    }

    .main-menu {

        list-style: none;
        display: grid;
        grid-template-areas:
            " navl navl navl navl navl";
        grid-template-rows: auto;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
        background-color: #3a530f;

    }

    .nav-button {
        grid-area: navl;
        padding: .5rem;
       
        display: block;
        text-align: center;
        text-decoration: none;

        font-family: 'Comfortaa', cursive;
        color: #fdf4d5;
        font-size: 1rem;
    }
.nav-button a {
  font-family: 'Comfortaa', cursive;
}
    .nav-button:hover {
        background-color: #669219;

    }

    h2 {
        font-size: 1.3rem;
        font-family: 'Varela Round', sans-serif;
        background-color: #f9ab00;
        color: #3a530f;
        padding: .5rem;
        font-weight: bold;
        border-bottom: #e2673d 2px solid;
        border-top: #e2673d 2px solid;
    }

    .cartinfo {
        width: 100%;
        padding: 1rem;
    }

    .cartinfo p {
        padding: 0 1rem 1rem 0;
    }

    a {
        font-size: 2rem;
        padding: 0 1rem 1rem 0;
    }

    footer {
        height: 1rem;
        padding: 2rem;

    }

    .cart3 {
        width: 60%;
        
    }

    .cart3 p{
        font-size:1.5rem;
    }
   

    #cart-total {
        padding: 1.5rem;
    }

    #logo {
        padding-left: .5rem;
        width: 100%;
        max-width: 250px;
        grid-area: logo;
    }

  

    .order_button {
        font-size: 1rem;
        text-decoration: none;
        color: #fade7d;
        background: #669219;
        padding: 15px 40px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        float: right;
        align-content: center;
        /* top: 50%;
        left: 92%;
        transform: translate(-2%, -230%);
        -ms-transform: translate(-20%, -90%);
        cursor: pointer; */
    }

    .order_button:visited {
      color: #f75a3b;
    }
    .order_button:active {
      color: #fade7d;
    }
    .order_button:hover{
      color: #982b1f;
    }
    .order_button:link {
      color: white;
    }

    .glow-button:hover {
		color: #f9ab00;
		box-shadow: 0 5px 15px rgba(248, 244, 10, 0.4);
    }

    .cart-box p {

        margin-left: .5rem;
    }

    .place_order{
      font-size: 1rem;
      text-decoration: none;
      color: #ca4f4f;
      background: #669219;
      padding: 15px 40px;
      border-radius: 4px;
      font-weight: normal;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
     
      /* align-content: center;
      top: 50%;
      left: 92%;
      transform: translate(-2%, -230%);
      -ms-transform: translate(-20%, -90%);
      cursor: pointer; */
     }

     .place_order a{
         font-size:1rem;
     }

     
    .glow-button2:hover {
      color: #679550;
      box-shadow: 0 5px 15px rgba(248, 244, 10, 0.4);
      }

.heading {
    position: relative;
    margin-bottom: 2.5em;
    margin-top: 1em;
    line-height: 2em;
    text-align: center;
    }
    
    .heading>.major {
    margin-bottom: .25em;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
      text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
    }
    
    /* end of heading section */
    
   
    .smaller{
      Width:100%;
      padding-left:0;
      max-width:35%;
      margin:0 auto;
      }
      .place_order{
        margin:.5rem;
        font-size:.9rem;
        padding:1rem 40px;
        background-color:#f9ab00;
     }
    
#welcome{
  font-size:1.6rem;
}
}